.a {
border:1px solid grey;
background-color:#F0F8FF;
height:60%;
width:40%;
margin-left:300px;
margin-top:120px;
}


.b {
	background-color:	#DDA0DD;
	height:410px;
	width:460px;
	margin-left:302px;
    margin-top:-416px;
}
.c {
	background-color:yellow;
	height:90px;
	width:100px;
	margin-left:662px;
    margin-top:-410px;
	text-align:center;
}
.d {
	margin-left:685px;
	margin-top:-60px;
}