.a {
	border:1px solid grey;
	height:265px;
	width:250px;
	margin-left:420px;
	margin-top:160px;
}
.b {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:#FFEBCD;
	margin-left:2px;
	margin-top:2px;
}
.c {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:2px;
}
.d {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:#FFEBCD;
	margin-left:2px;
}
.e {
	border:1px solid grey;
	height:27px;
	width:30px;
    background-color:	#556B2F;
	margin-left:2px;
	}
.f {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:#FFEBCD;
	margin-left:2px;
} 
.g {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:2px;
}
.h {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:#FFEBCD;
	margin-left:2px;
}
.i{
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:2px;
}
.j {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:#FFEBCD;
	margin-left:2px;
}
.k {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:34px;
	margin-top:-261px;
}
.l {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:34px;
}
.m {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:34px;
}
.n {
	border:1px solid grey;
	height:27px;
	width:30px;
    background-color:	#FFEBCD;
	margin-left:34px;
	}
.o {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:34px;
} 
.p{
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:34px;
}
.q{
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:34px;
}
.r{
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:34px;
}
.s {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:34px;
}

.aa {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:66px;
	margin-top:-261px;
}
.bb {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:#556B2F;
	margin-left:66px;
}
.cc {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:66px;
}
.dd {
	border:1px solid grey;
	height:27px;
	width:30px;
    background-color:	#556B2F;
	margin-left:66px;
	}
.ee {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:66px;
} 
.ff {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:66px;
}
.gg {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:66px;
}
.hh {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:66px;
}
.ii {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:66px;
}
  
  .jj{
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:98px;
	margin-top:-261px;
}
.kk {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:98px;
}
.ll {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:98px;
}
.mm {
	border:1px solid grey;
	height:27px;
	width:30px;
    background-color:	#FFEBCD;
	margin-left:98px;
	}
.nn {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:98px;
} 
.oo{
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:98px;
}
.pp{
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:98px;
}
.qq{
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:98px;
}
.rr {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:98px;
}
.ab {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:130px;
	margin-top:-261px;
}
.bc {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:#556B2F;
	margin-left:130px;
}
.cd {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:130px;
}
.ef {
	border:1px solid grey;
	height:27px;
	width:30px;
    background-color:	#556B2F;
	margin-left:130px;
	}
.gh {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:130px;
} 
.ij {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:130px;
}
.kl {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:130px;
}
.mn {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:130px;
}
.op {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:130px;
}
  
   .ba {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:98px;
	margin-top:-261px;
}
.cb {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:161px;
}
.fe{
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:160px;
}
.hg {
	border:1px solid grey;
	height:27px;
	width:30px;
    background-color:	#FFEBCD;
	margin-left:98px;
	}
.ji  {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:98px;
} 
.lk {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:98px;
}
.nm{
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:98px;
}
.po {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#FFEBCD;
	margin-left:98px;
}
.rr {
	border:1px solid grey;
	height:27px;
	width:30px;
	background-color:	#556B2F;
	margin-left:98px;
}