 .a {
	 border:3px solid grey;
	 height:40px;
	 width:400px;
	 margin-left:450px;
	 margin-top:100px;
 }
 .b {
	 border:3px solid grey;
	 height:60px;
	 width:70px;
	 margin-top:48px;
	 margin-left:-3px;
 }
 .c {
	 border:3px solid grey;
	 height:60px;
	 width:70px;
	 margin-top:-3px;
	 margin-left:328px;
 }
 .d {
	 border:3px solid grey;
	 height:202px;
	 width:241px;
	 margin-top:-3px;
	 margin-left:-254px;
 }
 .e {
	 border:3px solid grey;
	 height:60px;
	 width:70px;
	 margin-top:68px;
	 margin-left:248px;
 }
 .f {
	 border:3px solid grey;
	 height:60px;
	 width:70px;
	 margin-top:68px;
	 margin-left:-3px;
 }
 .g {
	 border:3px solid grey;
	 height:60px;
	 width:70px;
	 margin-top:-74px;
	 margin-left:-334px;
 }
 .h {
	 border:3px solid grey;
	 height:60px;
	 width:70px;
	 margin-top:68px;
	 margin-left:-3px;
 }