
.a {
border:1px solid grey;
background-color:#F0F8FF;
height:50%;
width:50%;
margin-left:300px;
margin-top:120px;
}
.b{
	border:1px solid grey;
	height:90px;
	width:90px;
	margin-left:545px;
    margin-top:-240px;
}